<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServiceIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="VehicleAggregatorSoapEndpointImplServiceSoapBinding" />
                <binding name="FileStoreAPISoapBinding" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IKaskoService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="MetadataExchangeHttpsBinding_IKaskoService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="CustomBinding_IKaskoService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IIbService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="MetadataExchangeHttpsBinding_IIbService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="CustomBinding_IIbService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IUnderwritingService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="MetadataExchangeHttpsBinding_IUnderwritingService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="CustomBinding_IUnderwritingService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IOsago2Service">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="MetadataExchangeHttpsBinding_IOsago2Service">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="CustomBinding_IOsago2Service">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" establishSecurityContext="false" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ufo-fe-stage-01.rgs.ru/KaskoService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IKaskoService"
                contract="wsCalcService.IKaskoService" name="WSHttpBinding_IKaskoService" />
            <endpoint address="https://ufo-fe-stage-01.rgs.ru/KaskoService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpsBinding_IKaskoService"
                contract="wsCalcService.IKaskoService" name="MetadataExchangeHttpsBinding_IKaskoService" />
            <endpoint address="http://ufot.rgs.ru/KaskoService.svc" binding="wsHttpBinding"
                bindingConfiguration="CustomBinding_IKaskoService" contract="wsCalcService.IKaskoService"
                name="CustomBinding_IKaskoService" />
            <endpoint address="https://ufo-fe-stage-02.rgs.ru/IbService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IIbService"
                contract="wsIbService.IIbService" name="WSHttpBinding_IIbService" />
            <endpoint address="https://ufo-fe-stage-02.rgs.ru/IbService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpsBinding_IIbService"
                contract="wsIbService.IIbService" name="MetadataExchangeHttpsBinding_IIbService" />
            <endpoint address="http://ufot.rgs.ru/IbService.svc" binding="wsHttpBinding"
                bindingConfiguration="CustomBinding_IIbService" contract="wsIbService.IIbService"
                name="CustomBinding_IIbService" />
            <endpoint address="https://ufo-fe-stage-02.rgs.ru/UnderwritingService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUnderwritingService"
                contract="wsUnderwriting.IUnderwritingService" name="WSHttpBinding_IUnderwritingService" />
            <endpoint address="https://ufo-fe-stage-02.rgs.ru/UnderwritingService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpsBinding_IUnderwritingService"
                contract="wsUnderwriting.IUnderwritingService" name="MetadataExchangeHttpsBinding_IUnderwritingService" />
            <endpoint address="http://ufot.rgs.ru/UnderwritingService.svc"
                binding="wsHttpBinding" bindingConfiguration="CustomBinding_IUnderwritingService"
                contract="wsUnderwriting.IUnderwritingService" name="CustomBinding_IUnderwritingService" />
            <endpoint address="https://ufo-fe-stage-02.rgs.ru/Osago2Service.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOsago2Service"
                contract="RgsCalcService.IOsago2Service" name="WSHttpBinding_IOsago2Service" />
            <endpoint address="https://ufo-fe-stage-02.rgs.ru/Osago2Service.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpsBinding_IOsago2Service"
                contract="RgsCalcService.IOsago2Service" name="MetadataExchangeHttpsBinding_IOsago2Service" />
            <endpoint address="http://ufot.rgs.ru/Osago2Service.svc" binding="wsHttpBinding"
                bindingConfiguration="CustomBinding_IOsago2Service" contract="RgsCalcService.IOsago2Service"
                name="CustomBinding_IOsago2Service" />
            <endpoint address="http://service-aggregator.os-preprod.rgs.ru/soap-api/vehicle-aggregator"
                binding="basicHttpBinding" bindingConfiguration="VehicleAggregatorSoapEndpointImplServiceSoapBinding"
                contract="VehicleAggregator.VehicleAggregator" name="VehicleAggregatorPort" />
            <endpoint address="http://filestore-service.os-preprod.rgs.ru/services/filestore"
                binding="basicHttpBinding" bindingConfiguration="FileStoreAPISoapBinding"
                contract="wsFileStorage.FileStoreAPI" name="FileStoreAPIPort" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <ServiceIntegration.Properties.Settings>
            <setting name="ServiceIntegration_wsCardService_ICard_create_SOAP_Serviceservice"
                serializeAs="String">
                <value>http://arm-apo.ss.rgs.ru/Card_create_SOAP_Service_test/Card_create_SOAP_Service.dll/soap/ICard_create_SOAP_Service</value>
            </setting>
            <setting name="ServiceIntegration_wsSoftRater_SoftRaterWS" serializeAs="String">
                <value>http://ibqa.rgs.ru:7003/IBSS/SoftRaterWSSoap11HttpPort</value>
            </setting>
            <setting name="ServiceIntegration_wsArm_IAPO2_ARM_READERservice"
                serializeAs="String">
                <value>http://arm-apo.ss.rgs.ru/apo2_arm_reader.dll/soap/IAPO2_ARM_READER</value>
            </setting>
            <setting name="ServiceIntegration_wsNumberGenerator_IGenNoDogservice"
                serializeAs="String">
                <value>http://arm-apo.ss.rgs.ru/GenNoDog_test/GenNoDog.dll/soap/IGenNoDog</value>
            </setting>
            <setting name="ServiceIntegration_wsRsaBso_IIBD_RSA_WebServservice"
                serializeAs="String">
                <value>http://arm-apo.ss.rgs.ru/IDB_RSA_Test/IBD_RSA_WebServ.dll/soap/IIBD_RSA_WebServ</value>
            </setting>
            <setting name="ServiceIntegration_wsRsaSendOsago_ISend_OSAGO_Serviceservice"
                serializeAs="String">
                <value>http://arm-apo.ss.rgs.ru/Send_OSAGO_Service_Test/Send_OSAGO_Service.dll/soap/ISend_OSAGO_Service</value>
            </setting>
            <setting name="ServiceIntegration_wsArmProxy_IAPO2_ARM_READERservice"
                serializeAs="String">
                <value>http://arm-soap-proxy.api-test.rgs.ru:80/apo2_arm_reader.dll/soap/IAPO2_ARM_READER</value>
            </setting>
        </ServiceIntegration.Properties.Settings>
    </applicationSettings>
</configuration>